/.phpunit.cache
build
composer.lock
vendor
/coverage
.idea
.claude
html
output
docs/node_modules
docs/.vuepress/dist
.phpunit.result.cache
.pint.cache
phpstan.neon
.github/instructions
# Local Netlify folder
.netlify
